body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

ul, ol {
  list-style-type: none;
  padding-left: 0;
}

//header block
.strw-img-logo {
  background: transparent url(https://www.starway.pro/landing/images/logo.png) center center no-repeat;
  background-size: contain;
  height: 43px;
  left: 0;
  margin: 0;
  position: absolute;
  top: 13px;
  width: 136px;
  display: block;
  z-index: 1;
  text-indent: -999em;
  overflow: hidden;
}

.main-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  max-height: 230px;
  transition: height .3s ease-out;

  &:before {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    height: 84px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0) 100%);
    top: 0;
    z-index: -1;
  }

  &:after {
    //border-bottom: 1px solid rgba(255,255,255,0.3);
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    top: 72px;
  }

  .wrap-centered {
    position: absolute;
    z-index: 40;
    width: 100%;
    height: 72px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.07));
    border-bottom: 1px solid #a9a9a9;
    min-width: auto;
  }

  .containerCentered {
    height: inherit;
    min-width: auto;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 1150px;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }

  .strw-main-menu {
    background: none;
    border-right: none;
    min-height: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    width: 100%;
    padding-left: 0;
    box-sizing: border-box;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    padding-top: 19px;
    top: 0;
  }

  .strw-main-menu > ul {
    text-align: center;
    margin-top: 0;
  }

  .strw-main-menu > ul > li {
    display: inline-block;

    a {
      padding: 25px;
      color: #fff;
      font-weight: bold;
      letter-spacing: 1px;
      line-height: 2.7;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 14px;
      text-shadow: 1px 1px 1px #000000;

      &:hover {
        border-bottom: 2px solid #fff;
        color: #fff;
        outline: none;
        text-decoration: none;
      }
    }
  }

  .header-buttons {
    position: absolute;
    top: 18px;
    right: 2%;

    .btn-secondary {
      margin-right: 8px;
      background: transparent;
      border-radius: 25px;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-size: 12px;
      font-family: "pp-sans-small-regular", Helvetica Neue, Arial, sans-serif;
      font-weight: bold;
      font-variant: normal;
      line-height: 12px;
      min-width: 84px;
      overflow: hidden;
      padding: 12px 15px;
      position: relative;
      text-align: center;
      text-decoration: none;
      -ms-touch-action: none;
      touch-action: none;
      vertical-align: middle;
      border: 1px solid #ffeea8;
    }

    .btn-signup {
      background-image: linear-gradient(to right, #ff6c00 0%, #ffcf00 51%, #ff6c00 100%);
      border: none;
      border-radius: 25px;
      box-sizing: border-box;
      color: #2c2e2f;
      cursor: pointer;
      display: inline-block;
      font-size: 12px;
      font-family: "pp-sans-small-regular", Helvetica Neue, Arial, sans-serif;
      font-variant: normal;
      line-height: 12px;
      min-width: 84px;
      overflow: hidden;
      padding: 12px 15px;
      position: relative;
      text-align: center;
      text-decoration: none;
      -ms-touch-action: none;
      touch-action: none;
      vertical-align: middle;
      font-weight: bold;
      background-size: 200% auto;
      transition: 0.5s;
      &:hover {
        background-position: right center;
      }
    }
  }
}


//slide block
.wrap-webmasters .circle-item, .wrap-advertisers .circle-item {
  display: inline-block;
  font-size: 40px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  /*line-height: 42px;*/
  padding: 0;
  margin-top: 10px;
  cursor: default;
  animation-duration: 1.6s;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5)
  }
}

.slide-container {
  width: 100%;
  height: 100%;
}

.wrap {
  height: 580px;
  background-color: black;
  padding-top: 0 !important;
  width: 100%;
  overflow: hidden;
  position: relative;

  .side-container {
    padding-top: 72px;
    width: 80%;
    max-width: 1300px;
    height: 80%;
    position: relative;

    .btn.btn-twin-hero {
      box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
      webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
      max-width: 300px;
      width: 35%;
      color: #2c2e2f;
      background-image: linear-gradient(to right, #ff6c00 0%, #ffcf00 51%, #ff6c00 100%);
      padding-top: 12px;
      padding-bottom: 14px;
      display: inline-block;
      border-radius: 25px;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      font-weight: bold;
      font-size: 15px;
      -webkit-font-smoothing: antialiased;
      background-size: 200% auto;
      transition: 0.5s;
      &:hover {
        background-position: right center;
      }
    }

    .expanded.active {
      opacity: 1;
    }

    .expanded {
      position: absolute;
      width: 85%;
      top: 70%;
      height: 460px;
      overflow: auto;
      -webkit-transition: opacity .2s;
      transition: opacity .2s;
      opacity: 0;
      text-align: center;
      left: 20%;

      .hero-twin-items {
        margin: 30px 0 50px 8%;
        overflow: auto;

        .hero-twin-item {
          float: left;
          width: 28%;
          margin-left: 2%;
          margin-right: 2%;

          a {
            color: #fff;
            text-decoration: underline;
          }

          .hero-twin-item-icon {
            display: inline-block;
            background-repeat: no-repeat;
            overflow: hidden;
            width: 93px;
            height: 75px;
          }

          div {
            text-align: center;
            transform: scale(.8);
            -moz-transform: scale(.8);
            -webkit-transform: scale(.8);
          }

          p {
            font-size: 15px;
            margin-top: 2px;
          }
        }
      }

      h2 {
        color: #fff;

        font-variant: normal;
        line-height: 1.25;
        font-size: 42px;
        font-weight: 300;
        margin-bottom: 0;
      }

      p {
        color: #fff;
        font-size: 22px;
      }
    }
  }
}

.wrap-webmasters.web-masters-expanded {
  transform: skewX(-10deg) translateX(25%);
  -moz-transform: skewX(-10deg) translateX(25%);
  -webkit-transform: skewX(-10deg) translateX(25%);
}

.wrap-webmasters {
  z-index: 20;
  overflow: hidden;
  position: relative;
  -webkit-transition: transform .8s;
  transition: transform .8s;
  width: 85%;
  /*height: 100%;*/
  height: 600px;
  top: 0;
  transform: skewX(-10deg);
  -moz-transform: skewX(-10deg);
  -webkit-transform: skewX(-10deg);
  left: -35%;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.7);

  .web-masters {
    width: 100%;
    height: 100%;
    margin-left: 15%;
    background: url(../img/10913.jpg) no-repeat;
    background-size: cover;
    transform: skewX(10deg);
    -moz-transform: skewX(10deg);
    -webkit-transform: skewX(10deg);
    -webkit-transition: transform .8s;
    transition: transform .8s;
    .expanded{

      .icon-biz-1-opt {
        background-image: url(../img/icon.png);
        background-position: 2px -6px;
      }

      .icon-biz-2-opt {
        background-image: url(../img/icon.png);
        background-position: -100px -7px;
      }

      .icon-biz-3-opt {
        background-image: url(../img/icon.png);
        background-position: -3px -95px;
      }
    }

  }

  .web-masters-tilt.web-masters-tilt-expanded {
    &:before {
      opacity: 1;
    }
  }

  .web-masters-tilt {
    &:before {
      content: "";
      -webkit-transition: opacity .8s;
      transition: opacity .8s;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, rgba(0, 48, 135, 0.7), rgba(0, 156, 222, 0.7));
      opacity: 0;
    }

    .initial.active {
      opacity: 1;
    }

    .initial {
      right: 25%;
      position: absolute;
      width: 400px;
      padding-top: 170px;
      height: auto;
      -webkit-transition: opacity .2s;
      transition: opacity .2s;
      opacity: 0;
      text-align: center;

      h2 {
        color: #fff;
        font-weight: 300;
        font-size: 34px;
        text-shadow: 1px 1px 1px #000000;
      }

      p {
        color: #fff;
        font-size: 22px;
        text-shadow: 1px 1px 1px #000000;
      }

    }
  }
}

.webmasters-collapsed {
  transform: skewX(-10deg) translateX(-25%);
  -moz-transform: skewX(-10deg) translateX(-25%);
  -webkit-transform: skewX(-10deg) translateX(-25%);

  .expanded.active {
    opacity: 0 !important;
  }
}

.advertisers-tilt.advertisers-tilt-expanded {
  &:before {
    opacity: 1;
  }
}

.wrap-advertisers {
  width: 85%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -25%;
  z-index: 10;
  -webkit-transition: transform .8s;
  transition: transform .8s;
  transform: translateX(-8%);
  -moz-transform: translateX(-8%);
  -webkit-transform: translateX(-8%);
  .expanded{

    .icon-biz-1-opt {
      background-image: url(../img/icon.png);
      background-position: -97px -90px;
    }

    .icon-biz-2-opt {
      background-image: url(../img/icon.png);
      background-position: -4px -174px;
    }

    .icon-biz-3-opt {
      background-image: url(../img/icon.png);
      background-position: -96px -179px;
    }
  }
  .advertisers {
    width: 100%;
    height: 100%;
    background: url(../img/15707.jpg) no-repeat center center;
    background-size: cover;
    -webkit-transition: transform .8s;
    transition: transform .8s;

    .advertisers-tilt.advertisers-tilt-expanded {
      &:before {
        opacity: 1;
      }
    }

    .advertisers-tilt {
      &:before {
        content: "";
        -webkit-transition: opacity .8s;
        transition: opacity .8s;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, rgba(0, 156, 222, 0.7), rgba(0, 48, 135, 0.7));
        opacity: 0;
      }

      .initial.active {
        opacity: 1;
      }

      .initial {
        left: 30%;
        right: 30%;
        position: absolute;
        width: 400px;
        padding-top: 98px;
        height: auto;
        -webkit-transition: opacity .2s;
        transition: opacity .2s;
        opacity: 0;
        text-align: center;

        h2 {
          color: #fff;
          font-weight: 300;
          font-size: 34px;
          text-shadow: 1px 1px 1px #000000;
        }

        p {
          color: #fff;
          font-size: 22px;
          text-shadow: 1px 1px 1px #000000;
        }
      }
    }
  }
}

.advertisers-expanded {
  transform: translateX(-25%);
  -moz-transform: translateX(-25%);
  -webkit-transform: translateX(-25%)
}

.advertisers-collapsed {
  transform: translateX(25%);
  -moz-transform: translateX(25%);
  -webkit-transform: translateX(25%);

  .expanded.active {
    opacity: 0 !important;
  }
}

#menuToggle {
  display: block;
  position: relative;
  top: 27px;
  left: 0px;
  margin-left: 25px;
  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background-image: linear-gradient(to right,#ef7e2a,#fde57f);
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #fff;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 100%;
  margin: -100px 0 0 -50px;
  padding: 125px 0 50px 50px;
  background: rgba(40,42,46,.99);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}
.menu-mob{
  display: none;
}

@media (min-width: 1360px) and (max-width: 1600px) {
  .wrap-advertisers {
    .advertisers {
      background-position-y: -106px;
    }
  }
}

@media (min-width: 320px) and (max-width: 1023px) {
  .strw-main-menu > ul {
    text-align: center;
    margin-top: 0;
    margin-left: -70px;
  }
  .main-header .strw-main-menu > ul > li a {
    padding: 9px;
  }
  .wrap {
    height: 625px;

    .side-container {
      width: 100%;

      .expanded {
        width: 90%;
        top: 20%;
        padding: 0 5%;
        transform: translateY(0);
        height: auto;
        left: 0;
        overflow: unset;

        h2 {
          font-size: 32px;
          margin-top: 10px;
        }

        p {
          margin-top: 10px;
          margin-bottom: 10px;
          font-size: 18px;
        }

        .hero-twin-items {
          margin: 5px 0;
          overflow-x: hidden;

          .hero-twin-item {
            width: 100%;
            clear: both;

            p {
              text-align: left;
              margin-left: 90px;
              padding-top: 27px;
              padding-bottom: 6px;
            }

            .hero-twin-item-icon {
              float: left;
              height: 75px;
              transform: scale(.7);
              -moz-transform: scale(.7);
              -webkit-transform: scale(.7);
            }
          }
        }
      }

    }
  }
  .web-masters{
    background: unset!important;
  }
  .wrap-webmasters {
    width: 100%;
    height: 90%;
    top: -36%;
    left: 0;
    transform: skewX(0);
    -moz-transform: skewX(0);
    -webkit-transform: skewX(0);

    .web-masters-tilt {
      width: 100%;
      height: 100%;
      background: url(../img/10913.jpg) no-repeat 42% center;
      background-size: cover;
      transform: translateY(13%);
      -moz-transform: translateY(13%);
      -webkit-transform: translateY(13%);
      -webkit-transition: transform .8s;
      transition: transform .8s;

      .initial {
        right: 0%;
        padding: 0 5%;
        width: 90%;
        height: 300px;
        top: 38%;

        p {
          padding-top: 4px;
          padding-bottom: 4px;
        }
      }
    }

    .web-masters {
      margin-left: 0;
      transform: skewX(0);
      -moz-transform: skewX(0);
      -webkit-transform: skewX(0);
    }
  }

  .wrap-webmasters.web-masters-expanded {
    transform: translateY(25%);
    -moz-transform: translateY(25%);
    -webkit-transform: translateY(25%);
  }
  .wrap-webmasters.web-masters-tilt-expanded {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  .wrap-webmasters.webmasters-collapsed {
    transform: translateY(-17%);
    -moz-transform: translateY(-17%);
    -webkit-transform: translateY(-17%);
  }

  .wrap-advertisers {
    width: 100%;
    height: 102%;
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    right: unset;
    bottom: -25%;
    top: 19%;

    .advertisers {
      background: url(../img/15707.jpg) no-repeat center 202px;
      background-size: cover;

      .advertisers-tilt {
        padding: 0 5%;
        width: 90%;
        height: 300px;

        &:before {
          height: 214%;
        }

        .initial {
          top: 71%;
          left: 0;
          padding: 0 5%;
          width: 90%;
          height: 300px;
        }

        .expanded {
          top: 72%;
        }
      }
    }

  }
  .advertisers-expanded {
    transform: translateY(-20%);
    -moz-transform: translateY(-20%);
    -webkit-transform: translateY(-20%);
  }
  .advertisers-tilt-expanded {
    transform: translateY(7%);
    -moz-transform: translateY(7%);
    -webkit-transform: translateY(7%);
  }
}

@media screen and (max-width: 767px) {
  .btn-signup{
    display: none!important;
  }
  .menu-mob{
    display: block;
    #menuToggle{
      #menu{
        li{
          a{
            text-decoration: none;
            font-size: 20px;
            color: #fff;
          }
        }
      }
    }
  }
  .strw-img-logo{
    left: calc(50% - (69px));
  }
  .menu-lg {
    display: none;
  }
  .wrap .side-container {
    .expanded {
      p {
        font-size: 16px;
      }

      h2 {
        font-size: 24px;
      }
    }

    .btn.btn-twin-hero {
      width: 60%;
    }
  }
  .wrap-webmasters {
    .web-masters-tilt {
      .initial {
        h2 {
          font-size: 28px;
        }

        p {
          font-size: 18px;
        }
      }
    }
  }
  .wrap-advertisers {
    .advertisers {
      .advertisers-tilt {
        .initial {
          h2 {
            font-size: 28px;
          }

          p {
            font-size: 18px;
          }
        }
      }
    }
  }
}
.reg-txt{
  background: linear-gradient(45deg, #ef7e2a 33%, #fde57f 66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fde57f;
}